//h3 #{id}
h3 #{title}

p 
	h4 Description
	div Portal for student and teachers to join class, track progress, play games and earn badges. I entered this project during second iteration of the badge system. Including system that reward different tiers of badge and ways to display and share. Logic parser for interpreting trigger rule.

p 
	h4 My role
	div Blahblahblahblah

p 
	h4 Skills applied
	table.toolShowCase
		tr
			td 
				div.sectionTitle UX/UI + Front end
				ol 
					li Photoshop + Fireworks
					li Haml + SCSS
					li Javascript
					li JQuery
			td
				div.sectionTitle Back end
				ol
					li Ruby on Rails
					li MySQL
			td
				div.sectionTitle Deployment
				ol
					li AWS

