//h3 #{id}
h3 #{title}

p 
	h4 Description
	div Portal for student and teachers to join class, track progress, play games and earn badges. I entered this project during second iteration of the badge system. Including system that reward different tiers of badge and ways to display and share. Logic parser for interpreting trigger rule.

p 
	h4 My role
	div UI Graphics and Icons
		ol 
			li Photoshop
	div Front end
		ol 
			li JQuery
			li SCSS
	div Back end
		ol
			li Ruby on Rails
			li MySQL


p
	h4 Roles and tasks
	div Rapid prototype site for displaying SCORM packages that constantly update and changes. The site had skeleton structure in PHP. 
	div Implemented login system. 
	div Built content exporter to pull content from CDS using their API. 

p
	h4 Challenges
	div 
		ol
			li 
	

