//h3 #{id}
h3 #{title}

p 
	h4 Description
	div Built multiple standalone course delivery site. Designed various interactive widgets, math parser for fun. Documentation on those widgets. link: http://cmra.rec.ri.cmu.edu/previews/ev3_products/ev3

p 
	h4 My role
	div UI Graphics and Icons
		ol 
			li Photoshop
			li Fireworks
	div Front end
		ol 
			li JQuery
	div Back end
		ol
			li XML

p
	h4 Notable Tasks
	ol
		li Modeling reusable interactive snippets that authors and gives feedback. Writing documentations.
		li Pulling information from XML


