//h3 #{id}
h2 #{title}

p 
	div Extended Google's Blockly to have 'Object' type. Intended to teach object oriented programming language.

p 
	h4 My role
	div Our course content for VEX Robotics STEM Lab is created in a LCMS called Xyleme. It comes with its own content delivery service which did not meet our requirement. In team of 3, we created a custom content delivery platform that fills the need of our customer, such as filtering and searching content. Separately, I collaborated with an engineer to create and maintain support tool to automate internal delivery process to close the gap between the course content team and the web development team. 

	ol 
		li General site development in PHP
		li Course content development in Xyleme
		li Login system development
		li Deployment support tool for automating process from Xyleme CDS to our server
		li DevOps using Octopus

p 
	h4 Skills applied
	table.toolShowCase
		tr
			td 
				div.sectionTitle UX/UI + Front end
				ol 
					li Photoshop + Illustrator
					li Semantic UI
			td
				div.sectionTitle Framework
				ol
					li Blockly
					li Phaser (Game Engine)
					li NW.js



