//h3 #{id}
h2 #{title}

p 
	div VEX Education Portal delivers course content for students and teachers. Teachers are offered Teacher Guides for each content to help them integrate the content into their own class environment. Our course content is created in a LCMS called Xyleme. It comes with its own content delivery service which did not meet our requirement. 

p 
	h4 My role
	div In team of 3, we created a custom content delivery platform that fills the need of our customer. Separately, a tool was created to automate internal delivery process in order to close the gap between the course content team and the web development team. 

	ol 
		li Site development, User/Login system development
		li Automation of delivery process from Xyleme CDS to our server
		li DevOps using Octopus
		li Misc pre-processors that preens through content
		li Course content development in Xyleme

p 
	h4 Skills applied
	table.toolShowCase
		tr
			td 
				div.sectionTitle UX/UI + Front end
				ol 
					li Illustrator + Photoshop
					li JQuery
					li Handlebar.js
			td
				div.sectionTitle Back end
				ol
					li PHP
					li MySQL
			td
				div.sectionTitle Deployment support
				ol
					li Python
					li Node.js
					li Shell Script
					li Octopus
					li Web API



