extends layout

block content
	div.page-wrapper
		div.menubar
			span Welcome to #{title}
		
		div.container#splash
			p.
				Hello, I am Mindy! 
				It's raining here in Pittsburgh.
				What about you?
		
		div.container#aboutme
			h2 About me
			p.
				I am a mechanical engineer by diciplin, app developer at work, artist for fun, and a bird-lover at heart.

		div.container#projects-prof
			h2 Projects 
			p.
				Projects and shit
		div.container#projects-pers
		div.container#activities
		div.container#etc
		div.footer

