extends layout

block content
	div.page-wrapper
		div.menubar
			span Welcome to 
				span.emphasis #{title}
		
		div.container.isflex.flex-vertical#splash
			p Hello, I am Mindy. I am a (Mostly) Web Developer.
			p It's rainy in Pittsburgh.
			p I heard it is raining in Seattle / Looks like it is sunny in Colorado!
		
		div.container#aboutme
			h2 About me
			div.isflex.flex-horizontal
				p
					| I am a mechanical engineer by discipline, developer at work, artist on the side.
					br
					| I worked 6+ years as a web developer, during which I transitioned into functioning full-stack. I've adopted agile development into my practice and is motivated by success of the product.
					br
					| It is important for me to stay humble, and constantly read and learn.  
					br
					| I am currently seeking new opportunities in the east coast, and hope to grow as a software developer. 

				p Key skills
					ol
						li Javascript/Express/React
						li Python/Django
						li Ruby on Rails
						li Agile/git/RESTful frameworks

		div.container#projects-prof
			h2 Featured Projects 
			div.isflex
				div.project-item
					div.thumb
						image
					div.title
						div.name VEX Education Portal
						div.role From scratch, UI, Support Tools
					div.description
						span Developed course content delivery platform for students and teachers. Worked on creating the website as well as tools supporting deployment for those who have no time to learn the process. 
					div.tags
						ol
							li Javascript
							li PHP
							li Handlebar.js
							li Python
							li Node.js
							li Shell script

				div.project-item
					div.thumb(style='background-image:url(/images/project_thumbs/ra_ev3.png)')
						
					div.title
						span.name RoboAcademy Curriculum Products
						span.role From Scratch, Graphic Assets, Video Production
					div.description 
						span Built multiple standalone course delivery site. Designed various interactive widgets, math parser for fun. Documentation on those widgets. link: http://cmra.rec.ri.cmu.edu/previews/ev3_products/ev3_curriculum/
					div.tags
						ol
							li Javascript
							li HTML+XML+CSS
							li bootstrap 

				div.project-item
					div.thumb(style='background-image:url(/images/project_thumbs/cs2n_1.png)')
					div.title
						span.name CS2N
						span.role Full stack, Graphic Assets
					div.description
						span Second iteration of Badge system. Including system that reward different tiers of badge and ways to display and share. Logic parser for interpreting trigger rule.
					div.tags
						ol
							li Ruby on Rails
							li haml
							li Javascript 
							li mySQL
							li APIs AWS

				div.project-item
					div.thumb
						image
					div.title
						span.name Sandbloqs
						span.role UI, Back-end, Graphic Assets
					div.description
						span Extended Google's Blockly to have 'Object' type. Intended to teach object oriented programming language.
					div.tags
						ol
							li Blockly 
							li Javascript
							li NW.js
							li Phaser

				div.project-item
					div.thumb
					div.title
						span.name Robomatter Curriculum
						span.role UI
					div.description
						span Madcap is a documentation program that we extended its usage to behave like Moodle. Javascript was used to fill the gap between desired UI/UX functionality to what Madcap can offer.
					div.tags
						ol
							li Javascript

				


				


		div.container#projects-pers
			h2 Side Projects
			div.isflex
				div.project-item
					div.thumb
						Cumulus
					div.description
						span.name Project Cumulus
						span A tool that makes an experimental format for story telling that is somewhere between a flipbook and a stopmotion animation. Works like Trello, Plays like flipbooks, looks like a movie. 
					div.tags
						ol
							li Python/Django 
							li Javascript/React
							li RESTful framework

				div.project-item
					div.thumb
					div.description
						span.name Muter
						span Harassers online are often provoked even more by action of "blocking". The best way to combat harassers and trolls online is a complete disengagement. But that can only get you so far. This chrome extention mutes anonymous harassers stealthly. 
					div.tags
						ol
							li Javascript
							li JQuery

				div.project-item
					PyChat
					div.description
						span.name PyChat
						span May look like rudimentary chat client, but can send hand drawn messages. The hand-drawn drawings can be dranw in frames to make a short animation. 
					div.tags
						ol 
							li Python
							li Tornado
							li Pillow

				div.project-item
					div.thumb
					div.description
						span.name Money Buffer
						span Gameifies your spending by "buffering" your money daily. Whatever you do not spend on your daily buffer is returned to the buffer. Be more aware of your spending habits and save money.
					div.tags
						ol
							li Excel/VBA

				div.project-item
					div.thumb
					div.description
						span.name MindyJang.com
						span Built in Node.js. A weather-aware portfolio website.
					div.tags
						ol
							li Javascript
							li React
							li Express
							li MongoDB
							


				div.project-item
					div.thumb
					div.description
						span.name
						span
					div.tags

		div.container#activities
			h2 Other Activities
			I make crazy cards
				Die cutter, perf boards, soldering iron

			Udacity: Currently teaching myself Machine Learning and Deep Neural Networks. 

			Global Game Jam 2017. Our team won an award! Unity 

			VEX Competition. Programming judge.


		div.container#etc
			p Keep in touch

			p Or, leave a mark!

		div.footer
			Blahblahalbha copy right

