doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Quicksand')

    // javascript libraries
    script(src='https://unpkg.com/react@16/umd/react.production.min.js' crossorigin)
    script(src='https://unpkg.com/react-dom@16/umd/react-dom.production.min.js' crossorigin)

    script(src='/scripts/react_projects.js')
  body
    block content
