doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Quicksand')

    // javascript libraries
    script(src='https://unpkg.com/react@16/umd/react.production.min.js' crossorigin)
    script(src='https://unpkg.com/react-dom@16/umd/react-dom.production.min.js' crossorigin)

    // JSX support. Dev only. Consider precompiling
    script(src="https://unpkg.com/babel-standalone@6/babel.min.js")

    // My react script
    script(src='/scripts/react_projects.js' type="text/babel")

  body
    block content
