body {
  padding: 0px;
  margin: 0px;

  /*font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3em;
}

a {
  color: #00B7FF;
}

.menubar{
	display:flex;
	align-items: center;
	position: fixed;
	top: 0; left: 0;

	height: 60px; width: 100%;
	background-color:#0E95DD;
	color: #E9FBFD;


}

.menubar span.emphasis{
	color: #FFA23B;
}

.container h2{
	text-transform: uppercase;
}

.container{
	background-color: #eee;
	text-align: center;
	padding: 30px;
}


.isflex{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-flow: wrap;
}

.flex-vertical{
	flex-direction: column;
}

.flex-horizontal{
	flex-direction: row;
	
}

.container#splash{
	background-color: #0E95DD;
	color: #E9FBFD;
	height: 520px;
}

.container#aboutme{
	background-color: #222;
	color: #bcbcbc;
}


.container#projects-pers{
	background-color: #d6edf0;
}


/* ------------------------- */
/* ------------------------- */
/*  small container rules */

.project-item{
	flex-grow: 1;
	flex-basis: 33%; /*works only if you have flex-grow*/
	align-self: flex-start;

}

.project-item .thumb{
	height: 250px;
	background-color: tomato;
}

.project-item .description{
	background-color: white;
}

.project-item span{
	font-size: 1em;
}

.project-item span.name{
	font-weight: bold;
	display:block;
	text-align: center;
}

.project-item .tags{
	background-color: white;
}

.project-item ol{
	padding: 0; margin: 0;
	list-style: none;

}
.project-item li{
	display:inline;
	border-radius: 10px;
	border: 1px solid black;
	
}